h4 {
  font-weight: bold;
  color: teal;
}
img {
  float: right;
  padding:15px;
}
em {
  color: grey;
}
.list li {
  font-weight: bold;
}
.list p {
  font-style: italic;
  color: grey;
}
.highlight {
  text-decoration: underline;
}
.intro {
  color: black;
  font-style: normal;
  font-size: 18px;
}
.my-class {
  border: 2px solid teal;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-style: italic;
  background-color: lightblue;
  width: 49%;
  float: left;
  margin-bottom: 25px;
  text-align: center;
}
.my-class-2 {
  border: 2px solid teal;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-style: italic;
  background-color: lightgrey;
  width: 49%;
  float: right;
  margin-bottom: 25px;
  text-align: center;
}
.sidebar {
  width: 40%;
  float: right;
  background-color: lightblue;
  Margin-left: 25px;
  Padding: 15px;
  border: 2px solid teal;
}
.sidebar h2 {
  font-size: 20px;
}
.sidebar p {
  color: white;
}
@media screen and (max-width: 700px) {
  body {
    background-color: azure;
  }
}
