h4 {
  font-weight: bold;
  color: teal;
}
img {
  float: right;
  padding-left: 15px;
  padding-bottom: 15px;
}
em {
  color: grey;
}
.list li {
  font-weight: bold;
}
.list p {
  font-style: italic;
  color: grey;
}
.highlight {
  text-decoration: underline;
}
.intro {
  color: black;
  font-style: normal;
}
.my-class {
  border: 1px solid teal;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
  background-color: lightblue;
  width: 49%;
  float: left;
  margin-bottom: 25px;
  text-align: center;
}
.my-class-2 {
  border: 1px solid teal;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
  background-color: lightgrey;
  width: 49%;
  float: right;
  margin-bottom: 25px;
  text-align: center;
}
